#map {
	width: 70%;
	height: 100vh; 
	float: left;
    @media (max-width: $sm){
    width: 50%;
    }
     @media (max-width: $xs){
        width: 100%;
        max-height: 400px;
    }
}

.mapContainer {
	background-color: white;
	z-index: 5;
	.heading{
		color: #e85727;
	}
	@media (max-width: $xs){
	    padding: 2rem;
	}	
}

.adp {
	font-family: "Roboto", sans-serif;
	@media (max-width: $xs){
	    margin: auto;
	}	

}
#googleDirection {
	width: 28%;
	max-height: 100vh;
	overflow: scroll;
	float: left;
	margin: 1%;
	margin-top: 0;
	@media (max-width: $sm){
    width: 48%;
    }
    @media (max-width: $xs){
    	min-width: 70%;
       margin: auto;
       float:none;
    }
}


tr, td, .adp, .adp-placemark, .adp-summary {
	background-color: #fff;
	border: 1px solid white;
}

.adp-directions {
	margin-top: 30px;
	margin-bottom: 30px;
}

tbody tr {
	margin-bottom: 20px;
}