@import "setup";
@import "googleMapStyles";




h1, h2 {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

h1 {
	color:  #f6ab3d;
}

h2 {
	color: #262626;
}

 
header {
	background-image: url(../../assets/heroImage.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.header-container {
	background-color: white;
	display: inline-block;
	img {
		width: 150px;
		height: 50px;
	}
}


